---
import Section from "./Section.astro";
import { Image } from "astro:assets";
import type { AboutProps, HeroProps } from "@types";

type Props = AboutProps & Pick<HeroProps, "name">;

const { description, image, name } = Astro.props;
---

<Section text="About Me" href="about" centered={true}>
  <div class="flex flex-col items-center gap-12 md:flex-row md:gap-16 max-w-5xl mx-auto">
    <p class="w-auto text-lg md:text-xl lg:text-2xl text-neutral text-justify leading-relaxed md:pr-8">{description}</p>
    <div
      class="h-96 w-80 flex-shrink-0 rotate-[5deg] bg-white p-5 md:rotate-[7deg] shadow-2xl"
    >
      <Image
        class="object-cover w-full h-full"
        src={image}
        width="320"
        height="320"
        alt={name}
      />
    </div>
  </div>
</Section>
