---
import type { HeroProps } from "@types";
type Props = HeroProps;

const { name, specialty, summary, email } = Astro.props;
---

<section class="pt-20 pb-10 md:pt-28 md:pb-12 text-center" id="#hero">
  <h1
    class="mb-3 font-serif text-7xl font-bold tracking-tightest text-white sm:text-8xl md:text-9xl lg:text-[10rem]"
  >
    {name}
  </h1>
  <p
    class="mb-10 font-serif text-5xl leading-tight font-bold tracking-tighter text-primary sm:text-6xl md:text-7xl lg:text-8xl"
  >
    {specialty}
  </p>
  <p class="mb-16 text-lg font-normal text-neutral md:text-xl lg:text-2xl max-w-4xl mx-auto leading-relaxed">
    {summary}
  </p>

  <a
    class="inline-block rounded-full bg-[#2563eb] px-10 py-6 text-base md:text-lg font-medium text-[#fff] hover:bg-[#1d4ed8] transition-colors"
    href={`mailto:${email}`}>Get in Touch</a
  >
</section>
