---
interface Props {
  text: string;
  href: string;
  centered?: boolean;
}

const { text, href, centered = false } = Astro.props;
---

<section id={href} class="py-8 md:py-12">
  <h2
    class={`mb-12 md:mb-16 font-serif text-5xl md:text-6xl lg:text-7xl font-bold tracking-tighter text-white ${centered ? 'text-center' : ''}`}
  >
    {text}
  </h2>
  <slot />
</section>
